{% extends "base_generic.html" %}
{% load i18n %}

{% block content %}
    <h1 class="text-center">{% trans "Book List" %}</h1>
    <div class="row text-center py-2 mt-3">
        <div class="col-3 mx-auto">
            <form action="{% url 'book-search' %}" method="get">
                <div class="input-group input-group-dynamic mb-4">
                    <span class="input-group-text"><i class="fas fa-search" aria-hidden="true"></i></span>
                    <input name="book" class="form-control w-100" placeholder="Search" type="text">
                </div>
            </form>
        </div>
    </div>
    {% if book_list %}

        <div class="container">
            <div class="row py-5">
                {% for book in book_list %}
                    <div class="col-md-3">
                        <div class="card-group">
                            <div class="card">
                                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 text-center bg-transparent">
                                    <a class="d-block blur-shadow-image">
                                        <img src="{{ book.cover_image.url }}" style="width: 200px; height: 300px"
                                             alt="img-blur-shadow" class="img-fluid shadow border-radius-lg">
                                    </a>
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="font-weight-normal mt-3">
                                        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
                                    </h5>
                                </div>
                                <hr class="dark horizontal my-0">
                                <div class="card-footer d-flex">
                                    <p class="font-weight-normal my-auto">{{ book.author }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    {% else %}
        <p>{% trans "There are no books in the library." %}</p>
    {% endif %}
{% endblock %}
